.form {
	width: 100%;
	display: flex;
	
	&__wrapper {
		padding: 15px 20px;
		background: #fff;
		border-left: 1px solid #f8e5f9;
		width: 100%;
	}

	&__input {
		margin-bottom: 0;
		flex-grow: 1;
		margin-right: 10px;
	}

	&__center {
		flex-grow: 1;
		display: flex;
		margin-right: 20px;
		align-items: center;
	}
}

.attachmentsWrapper {
	margin-bottom: 30px;
}