.layout {
    background-color: #faf8f9;
}
.header {
    background: transparent;
    height: 72px;
}

.logocol {
    display: flex;
    align-items: center;
}

.row {
    height: 100%;
}

.logout {
    margin-left: 15px;
}
