.layout {
    background-color: #faf8f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.header {
    height: 72px;
    background-color: #fffefe;
}

.headerTransparent {
    background: transparent;
}

.logocol {
    display: flex;
    align-items: center;
}

.rightcol {
    flex-grow: 1;
    padding: 0 30px;
}

.row {
    height: 100%;
}

.logout {
    margin-left: 15px;
}

.content {
    display: flex;
    align-items: stretch;
}
