
.header {
    height: 72px;
    background-color: #fffefe;
    box-shadow: 0px 2px 4px rgba(21, 18, 26, 0.03);
    padding: 0 24px;
}

.headerTransparent {
    background: transparent;
}

.logocol {
    display: flex;
    align-items: center;
}

.rightcol {
    flex-grow: 1;
    margin-left: 30px;
}

.row {
    height: 100%;
}

.logout {
    margin-left: 15px;
}

.content {
    display: flex;
    align-items: stretch;
    background-color: #f9f8fa;
}

.profile {
    width: 100%;
    
    &__avatar {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__name {
        display: inline-block;
        margin-top: 15px;
        font-weight: bold;
    }
}
