.wselector {
    border: 1px solid #DFE0E9;
    border-radius: 20px;
    overflow: hidden;
}

.wbtn {
    border: 0;
    border-top: 1px solid #DFE0E9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    height: 80px;

    &:first-child {
        border-top: 0;
    }

    &:active, &:focus, &:hover {
        color: #935CF6;
        border-color: #DFE0E9;
    }
}

.wicon {
    width: 40px;
    height: auto;
    display: inline-block;
    margin-right: 16px;
}

.wlensicon {
    width: 20px;
    display: inline-block;

}
