.login {
	max-width: 474px;
	margin: 0 auto;
	padding: 30px 30px 30px 30px;
	background: #fff;
	box-shadow: 0px 5px 10px rgba(28, 0, 46, 0.03), 0px 10px 40px rgba(28, 0, 46, 0.03);
	border-radius: 30px;
}

.content {
	padding-bottom: 20px;
}

.heading {
	text-align: center;
	margin-bottom: 30px !important;
}
