.settings {
	max-width: 715px;
	margin: 0 auto;
}

.settingsForm {
	background: #fff;
	padding: 30px 0;
	box-shadow: 0px 5px 10px rgba(28, 0, 46, 0.03), 0px 10px 40px rgba(28, 0, 46, 0.03);
	border-radius: 30px;
}

.label {
	font-size: 16px;
	font-weight: 600;
}

.divider {
	margin: 30px 0 !important;
}

.section {
	padding: 0 30px;
}


